body{
    margin: 0;
    background-color: black;
    color: white;
}

#home-background1, #home-background2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    transition: opacity 400ms ease, background-size 400ms ease;
}

#home-background1{
    background-image: radial-gradient(circle, rgb(36, 36, 36) 10%, transparent 15%);
    background-position: 0 0;
    background-size: 12vmin 12vmin;
}

#home-background2{
    background-image: radial-gradient(circle, rgb(36, 36, 36) 10%, transparent 15%);
    background-position: 6vmin 6vmin;
    background-size: 12vmin 12vmin;
}

#nav-items:hover ~ .background{
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#nav{
    height: 80vh;
    display: flex;
    align-items: center;
}

.nav-item{
    color: white;
    font-size: 4em;

    display: block;
    margin-top: 20px;
    height: 90px;
    text-decoration: none;
    transition: opacity 400ms, font-size 400ms;
}


#nav-items ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-items{
    margin-left: 200px;
}

.nav-item:hover{
    font-size: 6em;
    opacity: 1;
}

#nav-items:hover > ul > li > .nav-item:not(:hover){
    opacity: 0.3;
}
